body {
    margin: 0;
    padding: 0;
    background-color: #fff8dc;
    font: 12pt "sans-serif";
}
* {
    box-sizing: border-box;
}
.page {
    width: 21cm;
    min-height: 29.7cm;
    padding: 1cm;
    margin: 1cm auto;
    border: 1px #d3d3d3 solid;
    border-radius: 5px;
    background: #ffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
@page {
    size: A4;
    margin: 0;
}
@media print {
    html, body {
        width: 210mm;
        height: 297mm;
        margin: 0;
    }
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}
.title {
    background-color: darkcyan;
    text-align: center;
    margin-top: 6px;
    padding: 10px;
}
p {
    font-size: 1.1em;
    padding: 0.08em 0;
}
.quiz-header-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
/* CSS for dropdown buttons */

.dropdown {
    display: inline-block;
    position: relative;
}
.dropdownBtn {
    width: 80px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    padding: 10px;
    border: none;
}
.dropdown-content {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    padding: 0;
    background-color: brown;
    color: white;
    width: 80px;
    border: none;
    text-align: center;
    transition: visibility 0.2s, opacity 0.3s linear;
}
.dropdown-content a {
    padding: 12px 16px;
    display: block;
    cursor: pointer;
}
.dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
}

.btnDown{
    background-color: #000;
    color: #eee;
}



/* navigation */
ul {
    padding: 0;
    margin: 0;
}

#signDisplay {
    display: none;
}
.navBtn {
    display: inline-block;
    margin: 0 6px;
    width: 30px;
    height: 100%;
}
.createBtn-container {
    position: relative;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
}
.quiz-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    /* border: 1px solid red; */
}